body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;
  width: 100%;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 789px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 100px;
  color: aliceblue;

  text-decoration: none;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 80vh;
}

.imagem-produto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inscritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 50px;
}

.titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.painel-inscritos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 25vw;
  height: 60vh;
  padding: 10px;

  border: 2px solid grey;
  border-radius: 10px;

  font-size: 17px;
}

.tabela {
  width: 100%;
}

.legenda-tabela {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.dados-tabela {
  width: 80%;
}

.icone {
  width: 30px;
  height: 30px;
}
